body {
  background-color: #800000;
}

.App {
  margin: 20px auto;
  width: 50%;
  background-color: white;
}

.search-bar {
  margin: auto;
  width: 100%;
}

.search-box {
  width: 100%;
}

.restaurant-result {
  margin-top: 10px;
}